<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <% include templates/header.ejs %>
    <% include templates/notifications.ejs %>
</head>
<body>
<div id="game" class="container">

    <span id="username" data-userName="<%= player.name %>"></span>

    <h1>Hi <%= player.name %>,</h1>

    <div id="playerHand">
        <% for(var i = 0; i < player.cards.length; i++)
        { var card = player.cards[i]; %>
        <img draggable="true" <%= Constants.CardValue %>="<%= card.getValue() %>" class="playingCard"
        src="<%= card.getPicture() %>">
        <% } %>
    </div>

    <div id="onlinePlayersPlaceholder" class="movable">
    <table id="onlinePlayers">
        <tr>
            <th>Players</th>
        </tr>
        <% for(var i = 0; i < onlineUsers.length; i++) { %>
        <tr>
            <td id="<%= onlineUsers[i] %>" class="player"><%= onlineUsers[i] %></td>
        </tr>
        <% } %>
    </table>
    </div>

    <div id="tableArea">
        <div id="cardStack" class="movable">
            <img id="cardDeck" class="playingCard" <%= Constants.CardSource %>="<%= Constants.CARD_SOURCE.DECK %>" onclick=
                "pickUpCard(this)" src="/images/deck/backOfCard.png">
        </div>
        <div id="drawnCard" class="movable"></div>
    </div>

    <div class="modal fade" id="winningCards" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Winning Cards</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    initWebSocket("<%= player.name %>");
    <% var topCard = drawnCards.showTopCard() %>
    createDrawnCard(new Card("<%= topCard.suit %>", "<%= topCard.number %>"));
    highlightActivePlayer("<%= onlineUsers[0]%>");

    $(document).ready(function()
            {
                $(".movable").draggable();

                $("#playerHand").draggable().resizable();

                $("#playerHand .playingCard").draggable(
                        {
                            containment: "#playerHand"
                        }
                ).droppable(
                        {
                            drop: dropFunction,
                            over: overFunction,
                            out: outFunction,
                            accept: acceptFunction(function(droppedElement)
                            {
                                return droppedElement[0] == $("#deckCard")[0] || ($(droppedElement).parent()[0] == $("#drawnCard")[0] && $("#deckCard").length == 0);
                            })
                        }
                );
            }
    );

//    $(document).ready(function()
//    {
//        $("#playerHand .playingCard").draggable(
//                {
//                    containment: "#playerHand"
//                }
//        ).droppable(
//                {
//                    drop: function(event, ui)
//                    {
//                        $(this).css({opacity: 1});
//
//                        var currentCardValue = $(this).attr("data-card-value");
//
//                        send({type: Constants.CardDrop, value: createCard(currentCardValue)});
//
//                        var sourceCard = event.toElement;
//                        var cardValue = $(sourceCard).attr("data-card-value");
//
//                        changeCardValue(this, cardValue);
//                        $(sourceCard).remove();
//                    },
//                    over: function(event, ui)
//                    {
//                        $(this).css({opacity: 0.5});
//                    },
//                    out: function(event, ui)
//                    {
//                        $(this).css({opacity: 1});
//                    },
//                    accept: function(droppedElement)
//                    {
//                        var accept = false;
//
//                        if(getCurrentUser() == getUsername())
//                        {
//                            var parent = $(droppedElement).parent()[0];
//
//                            if(parent == $("#cardStack")[0] || parent == $("#drawnCard")[0])
//                            {
//                                accept = true;
//                            }
//                        }
//
//                        return accept;
//                    }
//                }
//        );
//    }
//    );

</script>
</body>
</html>