<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <% include templates/header.ejs %>
    <% include templates/notifications.ejs %>
</head>
<body>
<div class="container">
    <h1>Hi <%= user %>,</h1>

    <table id="players">
        <tr>
            <th>Online Players</th>
        </tr>
        <% for(var i = 0; i < onlineUsers.length; i++) { %>
        <tr>
            <td id="<%= onlineUsers[i] %>" class="player"><%= onlineUsers[i] %></td>
        </tr>
        <% } %>
    </table>
    <div>
        <% if(!game)
        {%>
        <form action="/game/" method="POST">
            <input name="user" value="<%= user %>" type="hidden">
            <input id="startGameBtn" type="submit" value="Start Game">
        </form>
        <%} else
        {%>
            <div>A game is in progress</div>
        <%}%>
    </div>
    <script>
        initWebSocket("<%= user %>");
    </script>
</div>
</body>
</html>